/*  your css code here. If applicable */
body {
  margin: 0;
  
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.hero>img{
	width:400px;
	height:auto;
	object-fit:cover;
}
.Explore>button{
	color:white;
	background-color:red;
	justify-content:center;
}
.Explore{
	text-align:center;
	
}